{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'analiticas/css/styles.css' %}">
{% endblock styles %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Menciones de un usuario o hashtag</h2>
            <p>Si selecciona alguno de los usuarios o hashtags y el otro queda sin seleccion, se creara un
                histograma con la cantidad de menciones de la seleccion en un tiempo determinado
            </p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Usuarios">Seleccione un usuario</label>
                <select class="custom-select mr-sm-2" id="Usuarios" name="usuario">
                    <option selected>Escoja uno</option>
                    {% for usuario in usuarios %}
                    <option value="{{usuario.arroba}}">{{usuario.nombre_cuenta}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="hashtags">Seleccione un Hashtag</label>
                <select class="custom-select mr-sm-2" id="hashtags" name="hashtag">
                    <option selected>Escoja uno</option>
                    {% for hashtag in hashtags %}
                    <option value="{{hashtag.hashtag}}">#{{hashtag.hashtag}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>


{% if image_base64 %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="data:image/png;base64,{{image_base64}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
    </div>
</section>
{% elif image_base641 %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="data:image/png;base64,{{image_base641}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="data:image/png;base64,{{image_base642}}" alt="grafica de linea" width=100% height=auto
                    class="img-fluid" />
            </div>
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="container">
    {% if not mean.empty %}
        <table class="table">
            <thead>
                <tr>
                    {% for column in mean.columns %}
                    <th scope="col">{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for valores in mean.to_numpy %}    
                <tr>
                    
                    {% for val in valores %}
                    <td scope="row">{{val}}</td>
                    {% endfor %}
                        
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    {% endif %}        
    {% if moda %}
        <h4>El usuario mas participativo para el hashtag '#{{hashtag}}'' es '{{moda}}'</h4>
    {% endif %}
    </div> 
</section>

{% endblock content %}